resources:
  - name: {{ properties["ubuntuwithpublicip"] }}
    type: compute.v1.instance
    properties:
      machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/f1-micro
      zone: {{ properties["zone"] }}
      networkInterfaces:
        - network: global/networks/default
          accessConfigs:
            - name: External NAT
              type:  ONE_TO_ONE_NAT
      disks:
        - type: PERSISTENT
          boot: yes
          initializeParams:
            sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1804-bionic-v20210412
          