---
resources:
  - name: allowhttps
    type: compute.v1.firewall
    properties:
      network: {{ properties["network"] }}
      sourceRanges: ["0.0.0.0/0"]
      allowed:
        - IPProtocol: TCP
          ports: 
            - "80"
            - "443"
  - name: allowssh
    type: compute.v1.firewall
    properties:
      network: {{ properties["network"] }}
      sourceRanges: ["0.0.0.0/0"]
      targetTags: ["allowssh"] 
      allowed:
        - IPProtocol: TCP
          ports: 
            - "22"
  - name: allowall
    type: compute.v1.firewall
    properties:
      network: {{ properties["network"] }}
      sourceRanges: ["0.0.0.0/0"]
      targetTags: ["openall"] 
      allowed:
        - IPProtocol: TCP
          ports: 
            - "1-65535" 
  