---
resources:
  - name: allowhttps
    type: compute.v1.firewall
    properties:
      network: $(ref.{{ properties["networkname"] }}.selfLink)
      sourceRanges: ["0.0.0.0/0"]
      allowed:
        - IPProtocol: TCP
          ports: 
            - "80"
            - "443"